.album-bg {
  max-width: 1200px;
  margin: 0 auto;
}

.album-lg {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}
.album-lg h2 {
  font-size: 2rem;
  font-weight: 600;
}

.album-lg button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.album-lg button a {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  border: 0px;
  color: var(--cor-6);
  transition: 0.3s;
}

.album-lg button a:hover,
.titulo-artista button a:hover {
  color: var(--cor-p2);
}

.album {
  display: flex;
  gap: 60px 40px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 32px;
  padding-left: 32px;
  padding-bottom: 60px;
  overflow-x: auto;
}

.album li {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  align-items: flex-start;
  justify-content: center;
  justify-items: center;
}

.album li img {
  flex: 1;
  border-radius: 25px;
  max-width: 220px;
  transition: 0.3s;
}

.album-imagem .dec img {
  max-width: 170px;
}

.album-imagem {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.album-texto {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px 54px;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.18);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(7px);
  border-radius: 25px;
  position: absolute;
  bottom: 10px;
}

.dec img {
  flex: 1;
  border-radius: 25px;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 160px;
}

.album-texto div h3 {
  padding-bottom: 8px;
}

.album-texto h3,
.album-texto p {
  text-align: center;
  flex: 1;
}

.dec {
  position: absolute;
  bottom: -10px;
  z-index: -1;
}

.al1 img {
  border: 2px solid rgba(92, 18, 21, 0.5);
  filter: drop-shadow(0px 1px 20px rgba(139, 31, 49, 0.2));
}

.al2 img {
  border: 2px solid rgba(84, 61, 33, 0.5);
  filter: drop-shadow(0px 1px 20px rgba(140, 9, 9, 0.2));
}

.al3 img {
  border: 2px solid rgba(71, 30, 162, 0.5);
  filter: drop-shadow(0px 1px 20px rgba(67, 28, 155, 0.2));
}

.al4 img {
  border: 2px solid rgba(110, 158, 103, 0.5);
  filter: drop-shadow(0px 1px 20px rgba(110, 158, 103, 0.2));
}

.al5 img {
  border: 2px solid #385160;
  filter: drop-shadow(0px 1px 20px rgba(56, 81, 96, 0.2));
}

@media (max-width: 1200px) {
  .album-lg {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 1000px) {
  .album-lg h2 {
    font-size: 1.75rem;
  }
  .album li img {
    max-width: 190px;
  }
  .album-imagem .dec img {
    max-width: 150px;
  }
  .album-texto {
    padding: 20px 40px;
  }
  .dec {
    bottom: -8px;
  }
}

@media (max-width: 800px) {
  .album {
    gap: 20px;
  }
  .album li img {
    max-width: 160px;
  }
  .album-imagem .dec img {
    max-width: 130px;
  }
  .album-texto {
    padding: 15px 30px;
    border-radius: 15px;
  }
  .dec {
    bottom: -6px;
  }
}

@media (max-width: 600px) {
  .album-lg {
    padding-left: 20px;
    padding-right: 20px;
  }
  .album-lg h2 {
    font-size: 1.35rem;
  }
  .album-lg button a {
    font-size: 0.85rem;
  }
  .album {
    gap: 10px;
    padding-bottom: 30px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .album li img {
    max-width: 130px;
  }
  .album-imagem .dec img {
    max-width: 100px;
  }
  .album-texto {
    padding: 16px 30px;
    border-radius: 15px;
  }
  .album-texto h3 {
    font-size: 0.85rem;
  }
  .album-texto p {
    font-size: 0.625rem;
  }
  .dec {
    bottom: -4px;
  }
}

@media (max-width: 380px) {
  .album-lg {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .album {
    padding-top: 10px;
    padding-left: 20px;
  }
  .album-lg h2 {
    font-size: 1rem;
  }
  .album-lg button a {
    font-size: 0.75rem;
  }
  .album-texto {
    padding: 14px 30px;
    border-radius: 15px;
  }
  .album-texto h3 {
    font-size: 0.675rem;
    text-transform: capitalize;
  }
  .album-texto p {
    font-size: 0.625rem;
    text-transform: lowercase;
  }
}
