.banner {
  padding-top: 60px;
}

.banner-img img {
  border-radius: 25px;
  border: 2px solid rgba(124, 90, 145, 0.5);
  filter: drop-shadow(0px 2px 20px rgba(84, 26, 129, 0.5));
}

.banner-img {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
}

.banner h1 {
  padding: 32px 40px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.18);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(7px);
  place-content: center;
  border-radius: 25px;
  position: absolute;
}

@media (max-width: 1200px) {
  .banner {
    padding-top: 60px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .banner h1 {
    font-size: 2rem;
    font-weight: 600;
  }
}

@media (max-width: 800px) {
  .banner {
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 600px) {
  .banner h1 {
    border-radius: 15px;
    padding: 22px 30px;
    font-size: 1.5rem;
  }
}

@media (max-width: 380px) {
  .banner h1 {
    background-color: initial;
    backdrop-filter: blur(0);
    border: 0px solid rgba(0, 0, 0, 0.0);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0);
  }
}

@media (max-width: 250px) {
  .banner {
    margin-bottom: 30px;
  }
  .banner img {
    display: none;
  }
  .banner h1 {
    padding: 8px 24px;
    color: var(--cor-p3);
    background-color: var(--cor-10) ;
  }
}