.font-xxl-s{
  font-family: 'Poppins', sans-serif;
  font-size: 2.25rem;
  font-weight: 700;
}

.font-x-s {
  font-family: "Poppins";
  font-size: 1rem;
}

.font-m-s {
  font-family: "Poppins", sans-serif;
  font-size: 0.625rem;
}

.font-p-s {
  font-family: 'Poppins', sans-serif;
  font-size: 0.75rem;
}