.font-xxl-s{
  font-family: 'Poppins', sans-serif;
  font-size: 2.25rem;
  font-weight: 700;
}

.font-x-s {
  font-family: "Poppins";
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.08em;
}

.font-m-s {
  font-family: "Poppins";
  font-size: 0.625rem;
  font-weight: 600;
}

.font-p-s {
  font-family: 'Roboto', sans-serif;
  font-size: 0.625rem;
  font-weight: 700;
}