.player-bg {
  position: fixed;
  bottom: 10px;
  left: 40px;
  right: 40px;
}

.player {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 0px;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  align-items: center;
  position: relative;
  z-index: -1;
}

.player-previu-grid {
  margin-left: 20px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.previu {
  border: 2px solid rgba(144, 127, 245, 0.41);
  border-radius: 25px;
  filter: drop-shadow(0px 2px 6px rgba(144, 127, 245, 0.2));
  max-width: 90px;
  height: 100%;
  position: relative;
}

.dec-ff {
  content: "";
  display: block;
  background-color: rgba(29, 29, 31, 0.85);
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(7px);
  border: 2px solid rgba(0, 0, 0, 0.18);
  border-radius: 25px;
  max-width: 900px;
  border-radius: 25px;
  margin: 0 auto;
  height: 70px;
  bottom: -80px;
  position: relative;
  z-index: -1;
}

/* Player Pesquisa */

.player-pesquisar {
  display: flex;
  flex-wrap: nowrap;
  gap: 14px;
  padding: 10px 14px;
  align-items: center;
  justify-content: flex-end;
}

.player-pesquisar-bg {
  background-color: var(--cor-p1);
  max-width: 90px;
  border-radius: 0 15px 15px 0;
  filter: drop-shadow(0px 8px 32px rgba(144, 127, 245, 0.5));
}

/* Controle de musica "Player Contro" */

.play-container {
  display: flex;
  gap: 20px;
  box-sizing: border-box;
  padding: 15px;
  max-width: 220px;
  background-color: rgba(29, 29, 31, 0.75);
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(7px);
  position: absolute;
  bottom: -18px;
  border-radius: 15px;
}

.play-container li a img {
  max-width: 20px;
}

.player-contro-icon {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
}

.player-time h2 {
  grid-column: 1/-1;
  padding-bottom: 15px;
}

.player-time {
  display: grid;
  gap: 10px;
  padding-left: 40px;
  padding-right: 40px;
  align-content: center;
}

.linha-tempo {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.player-linha-tempo {
  content: "";
  display: inline-block;
  min-width: 100%;
  height: 5px;
  background: var(--cor-5);
  border-radius: 5px;
  align-items: baseline;
}

.player-manu {
  padding-right: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}

.botao {
  display: block;
  background: var(--cor-p1);
  padding: 10px;
  border-radius: 10px;
  border: none;
  max-width: 40px;
}

@media (max-width: 800px) {
  .player {
    grid-template-columns: auto 1fr auto;
  }
  .player-previu-grid {
    grid-template-columns: 1fr;
  }
  .player-pesquisar-bg {
    display: none;
  }
  .player-pesquisar {
    display: none;
  }
  .play-container li img {
    max-width: 24px;
  }
  .previu {
    max-width: 60px;
    border-radius: 20px;
  }
  .dec-ff {
    height: 60px;
    bottom: -60px;
    border-radius: 25px;
  }
  .play-container {
    bottom: -5px;
  }
}

@media (max-width: 600px) {
  .previu {
    max-width: 44px;
    margin-bottom: 10px;
    border-radius: 15px;
  }
  .dec-ff {
    height: 54px;
    bottom: -50px;
    border-radius: 18px;
  }
  .botao {
    padding: 8px;
    max-width: 34px;
    border-radius: 10px;
    margin-bottom: 12px;
  }
  .play-container {
    gap: 10px;
  }
  .play-container li img {
    max-width: 100%;
  }
  .player-bg {
    position: fixed;
    bottom: 4px;
    left: 20px;
    right: 20px;
  }
}

@media (max-width: 500px) {
  .player-linha-tempo {
    height: 2px;
  }
  .previu {
    max-width: 48px;
    margin-bottom: 6px;
    border-radius: 15px;
  }
  .dec-ff {
    height: 50px;
    bottom: -48px;
    border-radius: 14px;
  }
  .play-container {
    bottom: -2px;
  }
}
@media (max-width: 380px) {
  .player-bg {
    bottom: 0px;
    position: fixed;
    max-width: 100%;
    left: 0px;
    right: 0px;
  }
  .dec-ff {
    max-width: 100vh;
    height: 90px;
    bottom: -90px;
  }
  .player-previu-grid {
    margin-left: 0px;
    margin: 0 8px;
  }
  .player-time {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .play-container {
    bottom: -10px;
    border-radius: 25;
  }
  .player-manu {
    padding-right: 0px;
    margin-left: 0px;
    margin: 0 8px;
  }
  .previu {
    border: 1px solid rgba(144, 127, 245, 0.41);
    max-width: 40px;
    margin-bottom: 0px;
    border-radius: 15px;
  }
  @media (max-width: 250px) {
    .previu {
      max-width: 20px;
      margin-bottom: 0px;
      border-radius: 8px;
    }
    .botao {
      background: transparent;
    }
    .player-time {
      margin-top: 32px;
    }
    .player-previu {
      display: none;
    }
  }
}
