.player-bg {
  position:fixed;
  bottom: 20px;
  left: 40px;
  right: 40px;
}

.player {
  display: grid;
  grid-template-columns: 3fr 7fr 2fr;
  padding: 0px;
  align-items: center;
  max-width: 1200px;
  border-radius: 25px;
  margin: 0 auto;
  align-items: center;
  position: relative;
  z-index: -1;
}

.player-previu-grid {
  margin-left: 40px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.previu {
  border: 2px solid rgba(144, 127, 245, 0.41);
  border-radius: 25px;
  filter: drop-shadow(0px 2px 6px rgba(144, 127, 245, 0.2));
  max-width: 120px;
  height: 100%;
  position: relative;
}

.dec-ff {
  content: '';
  display: block;
  background-color: rgba(29, 29, 31, 0.85);
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(7px);
  border: 2px solid rgba(0, 0, 0, 0.18);
  border-radius: 25px;
  max-width: 1200px;
  border-radius: 25px;
  margin: 0 auto;
  height: 98px;
  bottom: -114px;
  position: relative;
  z-index: -1;
}

/* Player Pesquisa */

.player-pesquisar {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  padding: 15px;
  align-items: center;
  justify-content: flex-end;
}

.player-pesquisar-bg {
  background-color: var(--cor-p1);
  max-width: 189px;
  height: 60px;
  border-radius: 0 15px 15px 0;
  filter: drop-shadow(0px 8px 32px rgba(144, 127, 245, 0.5));
}

/* Controle de musica "Player Contro" */

.play-container{
  display: flex;
  gap: 10px;
  box-sizing: border-box;
  padding: 20px;
  max-width: max-content;
  background-color: rgba(29, 29, 31, 0.75);
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(7px);
  position:absolute;
  bottom: -50px;
  border-radius: 15px;
  left: 44%;
}

.player-contro-icon {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  
}

.player-time h2 {
  grid-column: 1/-1;
  padding-bottom:  15px;
}

.player-time {
  display: grid;
  padding: 20px;
  align-content: center;
}

.linha-tempo {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.player-linha-tempo {
  content: '';
  display: inline-block;
  min-width: 100%;
  height: 10px;
  background: var(--cor-5);
  border-radius: 5px;
  align-items: baseline;
}

.player-manu {
  padding-right: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}

.botao {
  display: block;
  background: var(--cor-p1);
  padding: 15px;
  border-radius: 15px;
  border: none;
  height: 100%;
}

@media (max-width: 1200px) {
  .player-previu-grid {
    margin-left: 20px;
  }
  .dec-ff {
    height: 80px;
    bottom: -95px;
  }
  .previu {
    max-width: 100px;
  }
  .player-pesquisar {
    padding: 10px;
  }
  .player-pesquisar-bg {
    max-width: 110px;
    height: max-content;
  }
  .botao {
    padding: 15px;
    max-width: 52px;
  }
  .play-container {
  bottom: -30px;
  border-radius: 15px;
  left: 45%;
  }
}

@media (max-width: 1000px) {
  .player-time h2 {
    margin-top: 8px;
    font-size: 0.75rem;
    padding-bottom: 10px;
  }
  .linha-tempo span {
    font-size: 0.75rem;
    padding-bottom: 10px;
  }
  .player-linha-tempo {
    height: 5px;
  }
  .player-previu-grid {
    margin-left: 20px;
  }
  .dec-ff {
    height: 70px;
    bottom: -80px;
  }
  .previu {
    max-width: 80px;
    margin-bottom: 8px;
  }
  .botao {
    padding: 10px;
    max-width: 42px;
    border-radius: 10px;
    margin-bottom: 6px;
  }
  .player-pesquisar-bg {
    max-width: 110px;
    height: 44px;
    margin-bottom: 6px;
  }
  .player-pesquisar a img {
    max-width: 24px;
    height: 50%;
  }
  .play-container {
    bottom: -14px;
    border-radius: 15px;
    left: initial;
    }
}

@media (max-width: 800px) {
  .player {
    grid-template-columns: auto 1fr auto;
  }
  .player-previu-grid {
    grid-template-columns: 1fr;
  }
  .player-pesquisar-bg{
    display: none;
  } 
  .player-pesquisar {
    display: none;
  }
  .player-time h2 {
    font-size: 0.75rem;
    padding-bottom: 8px;
  }
  .linha-tempo span {
    font-size: 0.75rem;
    padding-bottom: 8px;
  }
  .player-linha-tempo {
    height: 6px;
  }
  .play-container{
    gap: 10px;
    padding: 15px;
    max-width: 240px;
    bottom: -15px;
    border-radius: 10px;
  }
  .play-container li img{
    max-width: 24px;
  }
}

@media (max-width: 600px) {
  .player-time h2 {
    font-size: 0.6rem;
    padding-bottom: 8px;
  }
  .linha-tempo span {
    font-size: 0.6rem;
    padding-bottom: 8px;
  }
  .player-linha-tempo {
    height: 5px;
  }
  .previu {
    max-width: 68px;
    margin-bottom: 6px;
    border-radius: 15px;
  }
  .dec-ff {
    height: 58px;
    bottom: -68px;
    border-radius: 18px;
  }
  .botao {
    padding: 8px;
    max-width: 30px;
    border-radius: 8px;
    margin-bottom: 8px;
  }
  .play-container{
    gap: 10px;
    padding: 10px;
    max-width: 160px;
    bottom: -15px;
    border-radius: 10px;
  }
  .play-container li img{
    max-width: 100%;
  }
  .player-bg {
    position:fixed;
    bottom: 4px;
    left: 20px;
    right: 20px;
  }
}

@media (max-width: 500px) {
  .player-time h2 {
    font-size: 0.5rem;
    padding-bottom: 8px;
  }
  .linha-tempo span {
    font-size: 0.5rem;
    padding-bottom: 8px;
  }
  .player-linha-tempo {
    height: 2px;
  }
  .previu {
    max-width: 48px;
    margin-bottom: 6px;
    border-radius: 15px;
  }
  .dec-ff {
    height: 40px;
    bottom: -60px;
    border-radius: 14px;
  }
  .play-container{
    bottom: -18px;
  }
  .player-bg {
    bottom: -10px;
  }
  .botao {
    margin-bottom: 4px;
  }
}
@media (max-width: 380px) {
  .player-bg {
    bottom: 0px;
    position: fixed;
    max-width: 100%;
    left: 0px;
    right: 0px;
    background-color: var(--cor-10);
  }
  .dec-ff {
    display: none;
  }
  .player-previu-grid {
    margin-left: 0px;
    margin: 0 8px;
  }
  .player-time {
    padding: 0px;
    margin-top: 28px;
    margin-bottom: 10px;
  }
  .player-time h2 {
    margin-bottom: 8px;
    font-size: 0.4rem;
    grid-row: 1;
    padding: 0px;
    margin: 0px;
  }
  
  .play-container {
    background-color: rgba(29, 29, 31, 0.0);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0);
    backdrop-filter: blur(0px);
    bottom: -30px;
    gap: 10px;
    padding: 10px;
    max-width: 130px;
    border-radius: 0;
  }
  .player-linha-tempo,
  .linha-tempo span {
    padding-bottom: 0px;
  }
  .linha-tempo span {
    font-size: 0.4rem;
  }
  .player-manu {
    padding-right: 0px ;
    margin-left: 0px;
    margin: 0 8px;
  }
  .botao {
    padding: 8px;
    max-width: 24px;
    border-radius: 8px;
    margin-bottom: 0px;
  }
  .previu {
    border: 1px solid rgba(144, 127, 245, 0.41);
    max-width: 28px;
    margin-bottom: 0px;
    border-radius: 10px;
  }
  @media (max-width: 250px) {
    .previu {
      max-width: 20px;
      margin-bottom: 0px;
      border-radius: 8px;
    }
    .botao {
      background: transparent;
      padding: 6px;
      max-width: 20px;
      border-radius: 0px;
    }
    .player-time {
      margin-top: 32px;
    }
    .player-previu {
      display: none;
    }
  }
}