.lista-musica {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  background: var(--cor-10);
  padding: 20px;
  border-radius: 25px;
  margin-top: 30px;
  justify-content: center;
}

.lista-musica-img {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 25px;
  position: relative;
}

.lista-musica-img img {
  border-radius: 25px;
  border: 2px solid var(--cor-11);
  box-sizing: border-box;
  filter: drop-shadow(0px 1px 20px rgba(139, 31, 49, 0.2));
}

.lista-musica-img-texto {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  left: 20px;
  bottom: 60px;
}

.lista-musica-img h1 {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 2.25rem;
  color: var(--cor-1);
  font-weight: 600;
}

.lista-musica-img p {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  color: var(--cor-4);
  font-weight: 400;
}

.lista-musica-reproducao {
  display: grid;
  grid-template-columns: 3fr 170px;
  margin: 0 20px;
  background: rgba(0, 0, 0, 0.25);
  border: 2px solid rgba(0, 0, 0, 0.18);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(7px);
  border-radius: 25px;
  padding: 40px 60px;
  gap: 20px;
  position: relative;
  top: -40px;
}

.lista-musica-reproducao h2 {
  flex: 1;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  color: var(--cor-1);
  font-weight: 700;
  letter-spacing: 0.05rem;
  padding-bottom: 16px;
}

.lista-musica-reproducao li {
  margin-bottom: 2px;
}

.m-playlista {
  background: transparent;
  border: 1px solid transparent;
  box-sizing: border-box;
  display: flex;
  max-width: 525px;
  padding: 5px 10px;
  align-items: center;
  justify-content: space-between;
}

.m-playlista > div {
  display: flex;
  gap: 8px;
  align-items: center;
}

.m-playlista > div a:nth-child(3) {
  padding: 4px;
}

.m-playlista:hover {
  background: rgba(55, 54, 61, 0.54);
  border: 1px solid #37363d;
  border-radius: 10px;
}

.m-playlista a h3 {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: var(--cor-3);
  font-weight: 400;
}

.dec-text {
  content: "";
  width: 1px;
  height: 12px;
  background: var(--cor-9);
  display: block;
}

.m-playlista a span {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 0.75rem;
  color: var(--cor-6);
  font-weight: 400;
}

.img-play-list-music {
  display: flex;
  gap: 10px;
  align-items: center;
}

.img-play-list-music img {
  max-width: 30px;
}

.mais-recentes ul {
  background: rgba(55, 54, 61, 0.54);
  border: 1px solid #37363d;
  box-sizing: border-box;
  border-radius: 15px;
  display: flex;
  max-width: 204px;
  flex-direction: column;
  padding: 10px;
}

.mais-recentes li {
  margin-bottom: 5px;
  padding: 5px;
  background: transparent;
  border-radius: 8px;
}

.mais-recentes li:hover {
  background: var(--cor-10);
}

.mais-recentes li a {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.mais-recentes li a img {
  padding: 3px;
  background: transparent;
  border-radius: 50%;
}

.mais-recentes li a img:hover {
  background: var(--cor-p1);
}

.mais-recentes h4 {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  color: var(--cor-2);
  font-weight: 400;
  padding-bottom: 20px;
}

.mais-recentes p {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 0.75rem;
  color: var(--cor-5);
  font-weight: 400;
}

@media (max-width: 800px) {
  .lista-musica-img img {
    height: 160px;
    width: 100%;
    object-fit: cover;
  }
  .lista-musica-reproducao {
    padding: 15px 30px;
    gap: 10px;
  }
  .lista-musica-img h1 {
    font-size: 2rem;
  }
  .lista-musica-img p {
    font-size: 1rem;
  }
  .lista-musica-reproducao h2 {
    font-size: 1.125rem;
    letter-spacing: 0.1rem;
  }
  .mais-recentes h4 {
    font-size: 1rem;
  }
  .m-playlista a h3 {
    font-size: 0.875rem;
  }
}

@media (max-width: 680px) {
  .lista-musica-reproducao {
    grid-template-columns: 1fr;
  }
  .mais-recentes ul {
    max-width: initial;
  }
  .mais-recentes li a {
    justify-content: space-between;
  }
  .mais-recentes li::after {
    display: none;
  }
  .mais-recentes li {
    background: transparent;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 2px;
  }
  .mais-recentes li:hover {
    background: var(--cor-9);
  }
}

@media (max-width: 500px) {
  .lista-musica {
    margin-top: 10px;
    padding: 10px;
  }
  .lista-musica-reproducao {
    padding: 15px 30px;
    gap: 10px;
    margin: 0 10px;
  }
  .lista-musica-img h1 {
    font-size: 1.5rem;
  }
  .lista-musica-img p {
    font-size: 0.875rem;
  }
  .lista-musica-reproducao h2 {
    font-size: 1rem;
    font-weight: 600;
  }
  .mais-recentes h4 {
    font-size: 1rem;
  }
  .m-playlista {
    padding: 0px 5px;
  }
  .m-playlista a h3 {
    font-size: 0.75rem;
  }
  .m-playlista a span {
    font-size: 0.625rem;
  }
  .m-minutos {
    display: none;
  }
  .img-play-list-music {
    gap: 4px;
  }
  .img-play-list-music img {
    max-width: 24px;
  }
  .lista-musica-reproducao {
    padding: 10px 20px;
    border-radius: 15px;
  }
  .m-playlista a {
    padding: 5px;
    border-radius: 10px;
  }
  .m-playlista a:nth-child(2) img {
    min-width: 14px;
  }
  .mais-recentes p {
    font-size: 0.75rem;
  }
  .mais-recentes li {
    padding: 6px;
  }
}

@media (max-width: 400px) {
  .lista-musica-reproducao h2 {
    margin-left: 10px;
    padding-bottom: 8px;
  }
  .lista-musica-reproducao {
    padding: 10px 5px;
  }
}

@media (max-width: 320px) {
  .img-play-list-music {
    flex-wrap: wrap;
  }
  .m-playlista a:nth-child(2) img {
    min-width: 14px;
  }
  .m-playlista a span {
    display: none;
  }
}

@media (max-width: 280px) {
  .m-playlista > div {
    gap: 0px;
  }
  .m-playlista a h3 {
    font-size: 0.625rem;
  }
  .img-play-list-music {
    flex-wrap: wrap;
  }
  .img-play-list-music img {
    display: none;
  }
}
