.btn-nav {
  display: flex;
  gap: 20px;
  max-width: 1200px;
  margin: 30px auto;
  padding-left: 20px;
  padding-right: 20px;
}

.btn-nav button {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50px;
  background: var(--cor-p3);
  transition: 0.3s ease-in;
}

.btn-nav button:hover {
  background: var(--cor-p1);
  filter: drop-shadow(0px 8px 32px rgba(144, 127, 245, 0.5));
}

.lista-interna-album {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.album-interna {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, auto));
  gap: 40px;
  padding-top: 30px;
}

.album-imagem-interna {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.album-imagem-interna img {
  border-radius: 25px;
  border: 2px solid var(--cor-10);
}

.album-imagem-interna span {
  padding-left: 16px;
  padding-right: 16px;
  bottom: -8px;
  position: absolute;
  z-index: -1;
}

.album-texto-interna {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px 53px;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.18);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(7px);
  position: absolute;
  bottom: 20px;
}

.album-texto-interna h3 {
  padding-bottom: 8px;
}

@media (max-width: 690px) {
  .btn-nav {
    gap: 10px;
    margin: 15px auto;
    padding-right: 14px;
    padding-left: 14px;
  }
  .btn-nav button {
    width: 30px;
    height: 30px;
  }
  .album-interna {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 20px;
  }
  .album-texto-interna {
    padding: 16px 40px;
    border-radius: 15px;
  }
  .album-texto-interna h3 {
    font-size: 0.875rem;
  }
}

@media (max-width: 560px) {
  .lista-interna-album h2 {
    font-size: 1.75rem;
  }
  .album-interna {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 360px) {
  .btn-nav {
    gap: 10px;
    margin: 15px auto;
    padding-right: 14px;
    padding-left: 14px;
  }
  .btn-nav button {
    width: 30px;
    height: 30px;
  }
  .album-interna {
    gap: 20px 10px;
  }
  .album-texto-interna {
    padding: 10px 30px;
    bottom: 10px;
  }
}

@media (max-width: 300px) {
  .lista-interna-album h2 {
    font-size: 1.5rem;
  }
  .album-imagem-interna img {
    border-radius: 15px;
  }
  .album-texto-interna {
    padding: 10px 20px;
    bottom: 10px;
  }
}

@media (max-width: 260px) {
  .btn-nav {
    gap: 10px;
    margin: 15px auto;
    padding-right: 14px;
    padding-left: 14px;
  }
  .btn-nav button {
    width: 30px;
    height: 30px;
  }
  .album-interna {
    grid-template-columns: 1fr;
    gap: 40px 20px;
  }
  .album-imagem-interna img {
    height: 100px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  .album-texto-interna {
    padding: 10px 40px;
    border-radius: 10px;
    bottom: 10px;
  }
}
